.banner {
    background: url(../imagens/banner.jpeg) 27% center no-repeat;
    min-height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
        .inner-banner {
            padding: 3rem;
            background-color: $cor-branca; 
            opacity: 0.8;
            border-radius: 45px;

            h1 {
                font-size: $tamanho-do-texto;
                color: $cor-primaria;
            }
            
            h2 {
                font-size: $tamanho-do-texto/2;
                color: $cor-terciaria;
            }
        }
}
